node_modules/
.env
.env.*
!.env.example

.firebase/
firebase-debug.log
firestore-debug.log
firebase-debug.*.log

dist/
build/
coverage/

.DS_Store
Thumbs.db

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json